@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100;200; 300;400;500;600;700;800&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* CONTACTO FORM STYLE */

input, textarea {
    font-family: "Poppins", sans-serif;
}


.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    max-width: 820px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.contact-form{
    background-color: #1abc9c;
    position: relative;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #149279);
    position: absolute;
}

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1abc9c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}


.title{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}


.input{
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: .6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: .95rem;
    letter-spacing: .5px;
    border-radius: 25px;
    transition: 3s;

}

textarea.input{
    padding: .8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: .9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 10000;
    transition: .5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}


.btn{
    padding: 0.6rem 1.2rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.btn:hover{
    background-color: transparent;
    color: #fff;
}


.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: .8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;


}

.input-container span:before,
.input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 3s;
    height: 5px;
    background-color: #1abc9c;
    top: 50%;
    transform: translateY(-50%);

}


.input-container span:before{
    left: 50%;
}

.input-container span:after{
    right: 50%;
}



.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: .8rem;
}


.input-container.focus span:before,
.input-container.focus span:after{
    width: 50%;
    opacity: 1;
}



.contact-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}
.contact-info .title{
    color: #1abc9c;
}

.text {
    color: #333;
    margin: 1.5rem 0 2.5rem 0;
}

.information{
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}

.icon{
    width: 28px;
    margin-right: 0.7rem;
}











/* dfdfdfdfsfd*/







.banner {
    width: 100%;
    height: 800px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}


@keyframes banner {
    0%, 20% {
        background-image: url(../images/banner1.jpg);
    }
    25%, 40% {
        background-image: url(../images/banner2.jpg);
    }
    50%, 70% {
        background-image: url(../images/banner3.png);
    }
    75%, 100% {
        background-image: url(../images/banner4.jpg);
    }
}

.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.info {
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}


.info h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
 .info p {
    color: #c7c7c7;
    line-height: 1.7;
    margin-bottom: 30px;
 }

 .info a{
    color: #fff;
    text-decoration: none;
    /* background: #3088e0; */
    background-color: orange;
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
 }

  .info a:hover {
    background-color: #ff9900;
    transition: 0.3s;
    color: #fff;
  }
 header {
    background-color: black;
 }








/*  CARDS STYLE */

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    color: #333;
}
.flips{
    display: flex;
    margin: 50px auto;
}
.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 0 auto;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;


}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}


.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}


.card .back {
    transform: perspective(600px) rotateY(180deg);
    /* background: rgb(3, 35, 54); */
    background: rgb(145, 104, 17);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}



.card .back .link a {
    color: #f3f3f3;
}

.card .back p{
    letter-spacing: 1px;
}


.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}


.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}




/* NOSOTROS STYLE*/

.container {
    margin: auto;
}

.section_2 {
    width: 75%;
    padding: 100px 0;
}


.section_2-tittle {
    font-family: lato;
    font-size: 40px;
    color: brown;
    font-weight: bold;
}

.us {
    display: flex;
}

.us-text {
    width: 60%;
    padding: 0 10% 0 0;
}

.us-paragraph {
    font-family: 'lato';
    font-size: 15px;
    color: #505050;
    text-align: justify;
}

.paragraph-text{
    margin: 10px 0;
}


/* REDES SOCIALES - SOBRE NOSOTROS */

.us-rs{
    margin: 20px 0;
}

.us-rs-tittle {
    font-family: lato;
    font-size: 20px;
    color: brown;
    font-weight: bold;
}
.rs-icon {
    margin: 10px 0;
}


.rs-link{
    margin: 0 10px;

}

.us-img{
    width: 40%;
}

.img-img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;

}











li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}


a:hover {
    color: orange;
}


/* HEADER STYLE MI REY */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}


.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;

}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}


.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}



.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}



/* HERO MI REY */
/* 
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
} */

/* RESPOSIVE DESIGN MI KING GAAAAAAA */

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }


    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        z-index: 2;
    }
}


@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}